<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Dashboard</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
  </head>

  <body>
    <div id="watch"></div>
    <nav>
      <button>Sign in</button>
      </nav>
      <section class="section-1">
      	<img src="img/icon.jpg" class="logo">
      	<form><br><br>
      		<div class="s-box">
      			<img src="img/search.png" class="search-icon">
      			<input type="text" class="s-input">
      			<img src="img/vs.png" class="vs-icon">
      			</div>
      	</form>
      	<div class="lang">
      		Google offered in:
      		<a href="#">Indonesia</a>
      		<a href="#">Frysk</a>
      	</div>
      </section>
      <footer>
        <h4>Copyright &copy; Kelompok 19 D3 TI 2019 </h4>
      </footer>
  </body>
</html>
